.contact-form-card {
  width: 40%;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #fff;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  font-size: 1rem;
  background-color: #090a0c;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: orange;
  color: #fff;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 965px) {
  .contact-form-card {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .contact-form-card {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .contact-form-card {
    width: 98%;
  }

  .contact-form {
    width: 100%;
  }
}
